.mainContainer {
    background-color: #c5c5c56e;
    max-width: 1000px;
    width: 100%;
    margin: 8rem auto 2rem auto;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
    transition: $transitionHover;

    @media screen and (max-width: 1000px) {
        border-radius: 0;
        transition: $transitionHover;
        width: auto;
    }

}